<!DOCTYPE html>
<html>
<head lang="zh-Hant-TW">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="">
        <title>ShrHe 學習筆記</title>
        <!-- Bootstrap core CSS -->
        <link href="../../assets/css/bootstrap/bootstrap.min.css" rel="stylesheet">
        <!-- CSS -->
        <link href="../../assets/css/Page_layout.css" rel="stylesheet">
        <!-- Custom Fonts -->
    	<link href="../../assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header nhp">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">ShrHe 筆記</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Front End <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-html5"> HTML5</i></a></li>
                            <li><a href="#"><i class="fa fa-css3"> CSS3</i></a></li>
                            <li><a href="#">JS</a></li>
                            <li><a href="#">Bootstrap</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Back End <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">PHP</a></li>
                            <li><a href="#">Codeigniter</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">專案管理</a></li>
                            <li><a href="#">商用日文</a></li>
                            <li><a href="#">網頁程式設計(四)</a></li>
                            <li><a href="#">手機程式設計</a></li>
                            <li><a href="#">3D動畫設計</a></li>
                            <li><a href="#">雲端實務Python</a></li>
                        </ul>
                    </li>
                    <li>
                    <form class="navbar-form">
                        <div class="form-group">
                        <input type="text" placeholder="搜尋文章..." class="form-control">                        
                        </div>
                        <button type="submit" class="btn btn-success"><i class="fa fa-search"></i></button>
                    </form></li>                
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navigation -->

    <!--container-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header text-center">【主題抬頭】</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">   
                <p class="ti"><i class="fa fa-clock-o fa-2x"> 20XX-XX-XX</i></p>
                <p class="cl"><i class="fa fa-tags fa-2x"> 類別</i></p>
                <hr>
                <!--文章內容-->
                <img src="BASEURLassets/img/index/S20151010004.png" class="img-responsive img-thumbnail" style="float:right;margin-left: 4px;" alt="Image">
                <div class="con" style="margin:7px 0px 7px 0px;">|剛初學使用ST3時因為還不太熟悉快捷鍵使用的方法，不知道誤觸哪個快捷鍵，在sidebar裡多出了Open files的資料夾，雖然不影響任何功能，但對於有某方面潔癖的我，看到一個用不到的資料夾掛在那邊，感覺十分的阿雜(台)。</div>
                <div class="con" style="margin:7px 0px 7px 0px;">花了一段的時間上網找資料，一直找不到關掉這個資料夾的方法，在苦無解決之際，無意間在View裡看到Hide Open Files，按了一下看看果然關掉了。(喜)</div>
                <pre><i class="fa fa-star">關閉方法 : <kbd>View</kbd> → <kbd>Side Bar</kbd> → <kbd>Hide Open files</kbd></i></pre>
                <img src="BASEURLassets/img/contents/S20151010004-1.png" class="img-responsive img-thumbnail" alt="Image">                
                <div class="con" style="margin:7px 0px 7px 0px;">在筆記裡紀錄一下，希望可以幫助到有相同困擾的新進夥伴。</div>   
                <!--文章內容-->
                <hr>
                <!-- Comments Form -->
                <div class="well">
                    <h4><i class="fa fa-comments"> 留言:</i></h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3">功能尚未完成</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" disabled="disabled">送出</button>
                    </form>
                </div>
                <!-- Comments Form -->
            </div>
        </div>
        <hr>
        <!-- Footer -->
        <footer>
            <h4 class="text-center"><strong>Copyright © 2015 by Shrhe</strong></h4>
        </footer>
        <!-- Footer -->
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../../assets/js/v1.11.3.jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../assets/js/bootstrap.min.js"></script>

    <!--滾動HEADER加陰影語法-->
    <script>
        $(window).load(function() {
        var header = $('.navbar');
            if (header.offset().top > 5) {
                if (!header.hasClass('shadow')) {
                    header.addClass('shadow');
                }
            } else {
                header.removeClass('shadow');
            }
        $(window).scroll(function(e) {
            if (header.offset().top > 5) {
                if (!header.hasClass('shadow')) {
                    header.addClass('shadow');
                }
            } else {
                header.removeClass('shadow');
            }
            });
        });
    </script>

</body>

</html>
