<!DOCTYPE html>
<html>

<head lang="zh-Hant-TW">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="">
    <title>ShrHe 學習筆記</title>
    <!-- Bootstrap core CSS -->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS -->
    <link href="../../assets/css/Page_layout.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../../assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- jQuery -->
    <script src="../../assets/js/v1.11.3.jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../../assets/js/bootstrap.min.js"></script>
    <!--滾動HEADER加陰影語法-->
    <script src="../../assets/js/nav_scroll_shadow.js"></script>
</head>

<body>
    <!--container-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header text-center">【主題抬頭】</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="ti"><i class="fa fa-clock-o fa-2x"> 20XX-XX-XX</i></p>
                <p class="cl"><i class="fa fa-tags fa-2x"> 類別</i></p>
                <hr>
                <!--文章內容-->

                <!--文章內容-->
                <hr>
                <!-- Comments Form -->
                <div class="well">
                    <h4><i class="fa fa-comments"> 留言:</i></h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3">功能尚未完成</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" disabled="disabled">送出</button>
                    </form>
                </div>
                <!-- Comments Form -->
            </div>
        </div>
        <hr>
        <!-- Footer -->
        <footer>
            <h4 class="text-center"><strong>Copyright © 2015 by Shrhe</strong></h4>
        </footer>
        <!-- Footer -->
    </div>
    <!-- /.container -->
</body>

</html>
