<!DOCTYPE html>
<html>
<head lang="zh-Hant-TW">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="">
        <title>ShrHe 學習筆記</title>
        <!-- Bootstrap core CSS -->
        <link href="../../assets/css/bootstrap/bootstrap.min.css" rel="stylesheet">
        <!-- CSS -->
        <link href="../../assets/css/Page_layout.css" rel="stylesheet">
        <!-- Custom Fonts -->
    	<link href="../../assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header nhp">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">ShrHe 筆記</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Front End <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-html5"> HTML5</i></a></li>
                            <li><a href="#"><i class="fa fa-css3"> CSS3</i></a></li>
                            <li><a href="#">JS</a></li>
                            <li><a href="#">Bootstrap</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Back End <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">PHP</a></li>
                            <li><a href="#">Codeigniter</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">專案管理</a></li>
                            <li><a href="#">商用日文</a></li>
                            <li><a href="#">網頁程式設計(四)</a></li>
                            <li><a href="#">手機程式設計</a></li>
                            <li><a href="#">3D動畫設計</a></li>
                            <li><a href="#">雲端實務Python</a></li>
                        </ul>
                    </li>
                    <li>
                    <form class="navbar-form">
                        <div class="form-group">
                        <input type="text" placeholder="搜尋文章..." class="form-control">                        
                        </div>
                        <button type="submit" class="btn btn-success"><i class="fa fa-search"></i></button>
                    </form></li>                
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navigation -->

    <!--container-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header text-center">【主題抬頭】</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">   
                <p class="ti"><i class="fa fa-clock-o fa-2x"> 20XX-XX-XX</i></p>
                <p class="cl"><i class="fa fa-tags fa-2x"> 類別</i></p>
                <hr>
                <!--文章內容-->
                <div class="con" style="margin:15px 0px 15px 0px;">|開始要製作NavBar按鈕時，想說按鈕只有純文字好像少點甚麼，如果加上小icon<span>(圖一)</span>因該可以讓使用者更直覺點選。</div>
                <div class="row">
                <div class="col-md-6 col-sm-6" style=""><div style="background-image: url(../../assets/img/index/C20151026005.png);width:100%;height:194px;background-repeat: no-repeat;background-position: center;"></div><h4 class="text-danger text-center">(圖一)</h4></div>
                <div class="col-md-6 col-sm-6"><div style="background-image: url(https://www.google.com.tw/images/nav_logo231.png);width:100%;height:194px;background-repeat: no-repeat;background-position: top center;"></div><h4 class="text-danger text-center">(圖二)</h4></div>
                </div>
                <div class="con" style="margin:15px 0px 15px 0px;">原本想使用最基本的 <code>&lt;Img&gt;</code> 來做就好，後來想起有次在抓google得Icon時發現，它所使用的圖示<span>(圖二)</span>是全部放在同一張圖檔上面(驚)。</div>
                <div class="con" style="margin:15px 0px 15px 0px;">這太神奇了，全部的圖示都在一張圖片上那它是怎麼讓每個圖示，各別獨立顯示出來的呢?當時心裡產生了這個問號，於是在谷哥大神的協助下找到了"CSS Sprite"。</div>
                <div class="con" style="margin:15px 0px 15px 0px;">這項技術有啥好處呢?根據<a href="http://blog.miniasp.com/post/2008/12/13/CSS-Spriting-without-using-background-image.aspx" target="_new">IT神人will保哥</a>blog文章內容表示，在圖片大小條件相同的情況下，如果整頁的背景圖原本有30張就會有30個HTTP Request，但全部合在一張圖片後就只需要一個HTTP Request而已，還可以透過HTTP Cache技巧將圖片快取在瀏覽器中。所以使用CSS prite可以加速網頁載入與顯示的速度提昇網站效能。</div> 
                <div class="con" style="margin:15px 0px 15px 0px;">閱讀文章了解後，基本上是使用CSS的background-image跟background-position來完成這項技術，簡單來說就是在使用同一張圖片，但是使用不同的定位點來抓取片段的圖像的方法，感覺實作起來非常耗時，但還好已經有網站提供編輯器，只要準備好圖片上傳，就會自動合併圖片並將語法及定位點幫我們寫好，可以直接拿來使用。</div>
                <div class="con baner" style="margin:15px 0px 15px 0px;">CSS Sprite 實作
                <h3>網站名稱：CSS Sprite Generator</h3>
                <h3>網站網址：<a href="http://spritegen.website-performance.org/" target="_new">http://spritegen.website-performance.org/</a></h3></div>
                

                <i class="fa fa-check-square-o"> 1.開啟CSS Sprite網站編輯器</i><div class="imgbox"><img src="../../assets/img/contents/C20151026005-1.png" class="img-responsive full" alt="Image"><h4 class="text-center">▲點選連結後網站的首頁</h4></div>

                <i class="fa fa-check-square-o"> 2.點選Clear清除預設的圖示</i><div class="imgbox"><img src="../../assets/img/contents/C20151026005-2.png" class="img-responsive full" alt="Image"><h4 class="text-center">▲清除前</h4><hr><img src="../../assets/img/contents/C20151026005-3.png" class="img-responsive full" alt="Image"><h4 class="text-center">▲清除後</h4></div>

                <i class="fa fa-check-square-o"> 3.點選Open上傳要合併的圖示</i><div class="imgbox"><img src="../../assets/img/contents/C20151026005-4.png" class="img-responsive full" alt="Image"></div>
                
                <i class="fa fa-check-square-o"> 4.點選Settings進行相關設定</i><div class="imgbox"><img src="../../assets/img/contents/C20151026005-5.png" class="img-responsive full" alt="Image"></div>

                <i class="fa fa-check-square-o"> 5.依照需求設定格式後儲存</i><div class="imgbox"><img src="../../assets/img/contents/C20151026005-6.png" class="img-responsive full" alt="Image"><h4 class="text-center">▲其中Style prefix是class要設的名稱，請設定自己要用的名稱。</h4></div>
                
                <i class="fa fa-check-square-o"> 6.查看合併完成的圖片、程式碼。</i><div class="imgbox"><img src="../../assets/img/contents/C20151026005-7.png" class="img-responsive full" alt="Image"><hr><img src="../../assets/img/contents/C20151026005-8.png" class="img-responsive full" alt="Image"><h4 class="text-center">▲PNG圖片</h4><hr><img src="../../assets/img/contents/C20151026005-9.png" class="img-responsive full" alt="Image"><h4 class="text-center">▲CSS的程式碼</h4><hr><img src="../../assets/img/contents/C20151026005-10.png" class="img-responsive full" alt="Image"><h4 class="text-center">▲HTML要使用的標籤語法</h4></div>
                <i class="fa fa-check-square-o"> 7.在程式碼裡面加入標籤語法，完成。</i><div class="imgbox"><img src="../../assets/img/contents/C20151026005-11.png" class="img-responsive full" alt="Image"><h4 class="text-center">▲可以開啟網頁預覽結果囉</h4></div>
                <div class="con" style="margin:30px 0px 15px 0px;">根據實作結果，有些的定位會稍微跑掉，所以需要在CSS的background-position裡稍做調整，基本上沒甚麼大問題，但這個方法仍然有些瀏覽器不支援(詳細情形請詳閱<a href="http://blog.miniasp.com/post/2008/12/13/CSS-Spriting-without-using-background-image.aspx" target="_new">Will保哥的blog</a>)，而且這方法雖然可以提昇網站的效能，但是在製作跟後續維護上會比原先直接使用ImgTag方法更耗時間，所以各有利弊，在此留下筆記提醒自己。<br><br>
                CSS Sprite相關:
                <a href="http://www.minwt.com/webdesign-dev/css/11111.html">梅問題教學網</a>　 
                <a href="http://blog.winwu.today/2012/06/css-sprites.html">一些平鋪直敘技術相關文</a></div>
                <!--文章內容-->
                <hr>
                <!-- Comments Form -->
                <div class="well">
                    <h4><i class="fa fa-comments"> 留言:</i></h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3">功能尚未完成</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" disabled="disabled">送出</button>
                    </form>
                </div>
                <!-- Comments Form -->
            </div>
        </div>
        <hr>
        <!-- Footer -->
        <footer>
            <h4 class="text-center"><strong>Copyright © 2015 by Shrhe</strong></h4>
        </footer>
        <!-- Footer -->
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="../../assets/js/v1.11.3.jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../assets/js/bootstrap.min.js"></script>

    <!--滾動HEADER加陰影語法-->
    <script>
        $(window).load(function() {
        var header = $('.navbar');
            if (header.offset().top > 5) {
                if (!header.hasClass('shadow')) {
                    header.addClass('shadow');
                }
            } else {
                header.removeClass('shadow');
            }
        $(window).scroll(function(e) {
            if (header.offset().top > 5) {
                if (!header.hasClass('shadow')) {
                    header.addClass('shadow');
                }
            } else {
                header.removeClass('shadow');
            }
            });
        });
    </script>

</body>

</html>
