/*滾動HEADER加陰影語法*/

.navbar.shadow {
    box-shadow: 0px 5px 5px rgba(20%, 20%, 40%, 0.5);
    transition: box-shadow 0.5s;
}


/* 透明化 */

.navbar.Transparent {
    background: rgba(0, 0, 0, 0.7);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s;
}


/* navbar表單*/

.navbar-form > .form-control {
    width: 52px;
    background-color: #2b2b2b;
    color: #fff;
}
.navbar-form > .btn {
    display: none;
}
.navbar-form2 {
    display: none;
}
.dropdown-menu > li > a{
    display: -webkit-flex;
    display: flex;
}
.sprite{
  -webkit-flex: 17;
          flex: 17;
}
.badge{
  -webkit-flex: 1;
          flex: 1;
    border-radius: 3px;
    background-color: #d9534f;
}
/* 響應式網頁 */

@media screen and (min-width: 992px) {
    /*桌面*/
}

@media screen and (min-width: 767px) and (max-width: 992px) {
    /*平板*/
}

@media screen and (max-width:767px) {
    /*手機*/
    /*尋覽列表*/
    .navbar-form {
        display: none;
    }
    .navbar-form2 {
        display: flex;
    }
    .navbar-form2 > .form-group {
        width: 85%;
        margin: 0px 5px 0px 10px;
    }
    .navbar-form2 > .form-group > .form-control {
        height: 40px;
    }
    .navbar-form2 > .btn2 {
        height: 40px;
        width:  20%;
        margin: 0px 10px 0px 5px;
    }
}
