@font-face {
    /* 載入外部字體 */
    font-family: myfont;
    src: url(../fonts/wt014.ttf);
}

html,
body {
    height: 100%;
}

body {
    background-color: #FFC2C2;
    padding-top: 65px;
}


/* 連結文字樣式控制 */

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.page-header {
    /* bs-page-header字體設定 */
    margin-top: 15px;
    font-family: myfont;
    font-size: 36pt;
}

.imgbox {
    /* 圖片盒設定 */
    background-color: #F2F2F2;
    padding: 8px;
    border: 1px #339966 solid;
    box-shadow: 0px 5px 5px rgba(20%, 20%, 40%, 0.5);
    margin-bottom: 50px;
    color: #878787;
}

.full {
    /* 圖片全滿設定 */
    width: 100%;
}

.con {
    /* con字體設定 */
    font-family: myfont;
    font-size: 24pt;
    margin: 30px 0px 5px 0px;
}

.baner {
    /* 本次重點標示設定 */
    padding: 10px 10px 10px 10px;
    background-color: #B2F0D1;
    border-top: 1px #339966 solid;
    border-bottom: 1px #339966 solid;
    margin: 40px 0px 15px 0px;
}

i.fa {
    /* iconfont 字體設定 */
    font-weight: 900;
}

i.pre {
    /* i的pre設定讓該段文字在小畫面時會出現轉軸 */
    display: inline-block;
    font: normal bold normal 16px/1 Consolas;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.panel-body-pre {
    /* DIV設定讓該區域文字可向pre一樣，並在小畫面時會出現轉軸 */
    width: 100%;
    height: 100%;
    overflow: auto;
    white-space: pre;
    display: inline-block;
    font: normal bold normal 18px/1 Consolas;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.panel-code {
    /* panel裡顯示code設定 */
    padding: 0px;
}

span {
    /* 小註解字體設定 */
    font-size: small;
    color: #d9534f;
}

footer {
    /* 地板高度 */
    margin: 50px 0;
}

blockquote {
    /*註釋設定*/
    background: hsl(0, 0%, 97%);
    color: #d9534f;
    border-color: #FF8080;
    font-size: 24px;
    margin: -2px 0px 20px 0px;
}

.alert-danger {
    color: #a4660e;
}

.info_class {
    /*類別資訊*/
    text-align: right;
}

.pre_btn {
    /*上一頁按鈕*/
    width: 50%;
    height: 100%;
    background-color: #f0ad4e;
    border: 2px #eb9214 solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: left;
    float: left;
    margin: 0px -3px 0px 0px;
    padding: 5px;
    //overflow: hidden;
    //text-overflow: ellipsis;
    //white-space: nowrap;
    font-size: 26px;
}

.next_btn {
    /*下一頁按鈕*/
    width: 50%;
    height: 100%;
    background-color: #f0ad4e;
    border: 2px #eb9214 solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: right;
    float: left;
    margin: 0px -3px 0px 5px;
    padding: 5px;
    //overflow: hidden;
    //text-overflow: ellipsis;
    //white-space: nowrap;
    font-size: 26px;
}

.pre_btn:hover,
.next_btn:hover {
    background-color: #ed9d2b;
}


/* 響應式網頁 */

@media screen and (min-width: 992px) {
    /*桌面*/
    .shareimg {
        /*分享按鈕*/
        opacity: 0.5;
    }
    .shareimg:hover {
        /*分享按鈕*/
        opacity: 1.0;
        -o-transition: opacity 0.5s;
        -webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        transition: opacity 0.5s;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    /*平板*/
    footer > h4 {
        /*地板文字*/
        height: 0px;
        margin-top: -30px;
    }
}

@media screen and (max-width:768px) {
    /*手機*/
    .page-header {
        /*page-header字體設定*/
        font-family: myfont;
        font-size: 24pt;
    }
    .con {
        /*con字體設定*/
        font-family: myfont;
        font-size: 18pt;
    }
    .imgbox {
        /*圖片盒設定*/
        background-color: #F2F2F2;
        padding: 2px;
        border: 1px #339966 solid;
        border-radius: 3px;
        box-shadow: 0px 5px 5px rgba(20%, 20%, 40%, 0.5);
        margin-bottom: 50px;
        color: #B9B9B9;
    }
    footer > h4 {
        /*地板文字*/
        height: 0px;
        margin-top: -30px;
    }
    .baner > h3 {
        /*標題*/
        font-size: 14pt;
    }
    .info_class {
        /*資訊類別*/
        text-align: left;
    }
    .pre_btn {
        /*上一頁按鈕*/
        width: 100%;
        margin: 5px 0px 5px 0px;
        clear: left;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .next_btn {
        /*下一頁按鈕*/
        width: 100%;
        margin: 5px 0px 5px 0px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}
